.main_container{
    background-image: url("./audi.jpeg");
    background-position: center;
}
.mainContainerFilter{
    background-color: rgba(4, 1, 14, 0.5);
    width: 100%;
    height: 100%;

}
.contactContainer{
    padding-top: 10rem;
}
.MiscellaneousContainer{
    background-color: #03002E ;
    height: 100vh;
    width: 100%;
    transform: skewY(9deg);
    color: white;
    

}


.MiscellaneousContainer p{
  margin: 0px;
}
.carouselContainerInfo{
    transform: skewY(-9deg);
    width: 100%;
}
.choiceContainerInfo{
    padding-top: 5rem;

}
.choiceHeading{
    background-color: #F77E21;
    width: 19rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin-bottom: 6rem;
}
.mainChoiceHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}
.choiceChildren{
    display: flex;
}
.informationContainer{
    height: 120vh;
    width: 100%;
}
.muiIconsContainer{
    border-bottom: 0;
}
.rotatedContentContainer{
    transform: skewY(-9deg);
}
.bodyContainer{
    padding-top: 10rem;
}
.big-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navigate{
    color: #ffac33;
    
}
.functionalContainer{
    padding: 1.2rem;
}
.muiIconsContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.thisFunctionServiceContainer{
    margin-left: 20px;
}
.functionServiceContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10rem auto;
}
.functionServiceContainer h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: 000000;
}
.functionServiceContainer p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.secondImageContainer{
    width: 50%;
}
.firstserviceImage{
    width: 80%;
    height: 80%;
}
.secondServiceImage{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.informationSecondContainer{
    align-items: left;
    width: 100%;
     padding-left: 2rem;  
}
.informationFunctionContainer{
    align-items: left;
    width: 100%;
    padding-right: 2rem;
}
.muiIconsContainer h3{ 
   font-family: 'Montserrat', sans-serif;
   font-size: 1.5rem;
}
.otherServiceContainer{
    height: 150vh;
    width: 100%;
    background-color: #03002E;
    margin-top: -10rem;
}
.buildIconContainer{
    border-radius: 50px;
    border: 2px solid #03002E;
    background-color: white;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carouselInformationContainer{
    background-color: white;
    width: 90%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: -2rem;
    z-index: -1;
    border: 1px solid #03002E;
}
.mainCarouselContainerInfo{
   display: flex;
   justify-content: center;
   align-items: center;
}

.mainBuildIconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.servicesOfferedContainer{
    background-color: #03002E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 20rem;
    border-radius: 10px;
}
.MiscellaneousContainer p{
    font-family: 'poppins', sans-serif;
    font-size: 1.1rem;
    opacity: 0.7;
}
.mainServiceOfferedContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}
.typographyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.carouselContainer{
    background-color: #F77E21;
    transform: skewY(9deg);
    height: 110vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigate ul{
    display: flex;
    flex-wrap: nowrap;
    float: right;
}
.navigate ul li{
    list-style: none;
    margin: 5px;
    padding-right: 10px;
    cursor: pointer;
}
 
li{
  color: #ffac33;
}



@media (max-width: 768px){
.functionServiceContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10rem auto;
    
}
.informationFunctionContainer{
    align-items: center;
    width: 100%;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.informationFunctionContainer h1{
    text-align: center;
}
.muiIconsContainer h3{
    text-align: center;
}

.secondImageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.informationSecondContainer{
    margin-top: -8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.informationSecondContainer h1{
    margin-left: -15%;
}
.firstserviceImage{
    width: 70%;
    height: 70%;
    margin-bottom: 2rem;
}
.navigate ul{
    display: none;
    flex-flow: column nowrap;
    background-color: white;
    width: 300px;
    height: 100vh;
    margin-top: 0;
    position: fixed;
    right: 0;
    padding-top: 3.5rem;


}
.functionalContainer p{
    text-align: center
}
.carouselInformationContainer{
    padding-top: 5rem;
}
.navigate li{
    color: #03002E;
}
.choiceChildren{
    display: flex;
    flex-direction: column;
}
.choiceHeading{
    width: 15rem;
    margin-bottom: 2rem;
    
}
.informationContainer{
    height: 140vh;
}
.MiscellaneousContainer{
    height: 200vh;
}

}

@media (max-width: 300px){
    .bodyContainer{
        padding-top: 7rem;
    }
    .MiscellaneousContainer{
        height: 220vh;
    }

}